
Posts:<br>
{{#posts}}
	<a href="{{link}}">{{#meta}}{{title}}{{/meta}}</a><br>
{{/posts}}

Pages:<br>
{{#pages}}
	<a href="{{link}}">{{#meta}}{{title}}{{/meta}}</a><br>
{{/pages}}

Configs:<br>
{{config}}