<!doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="alternate" type="application/atom+xml" title="feed" href="/feed/" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
    <title>Filippo Diotalevi</title>
    <meta name="keywords" content="startup,technology,java,ruby,rails,osgi"> 
    <meta name="author" content="Filippo Diotalevi"> 
  </head>
  <body>
	<header>
		<a href='/'>Home</a> | <a href='/pages/about'>About</a>
	</header>
	
    <section>	
      <%= yield %> 
    </section>
    <footer>
      powered by Persona (unreleased yet), the minimal personal content manager
    </footer>
  </body>
</html>


